.range-input {
	--thumbSize: 20px;
	--thumbSizeFocus: 25px;
	--trackSize: 4px;
	--thumbBg: #9b2743;
	--trackBg: #dfdfdf;
	--progressBg: #9b2743;

	/* webkit progress workaround */
	--webkitProgressPercent: 0%;

	border-bottom: 2px solid get-color(shades, 40);
	margin-bottom: $gutter-large;
	display: flex;
	flex-wrap: wrap;

	&__label {
		@include type-style(body, body-large);
		line-height: 1 !important;
		color: get-color(shades, 80);
		display: block;
		margin-bottom: $gutter-large;
		flex: 1 1 auto;
	}

	&__prefix {}

	&__current-value,
	&__current-option {
		border: none;
		height: 29px;
	}

	&__current-value {
		width: 70px;
		text-align: right;
		font-weight: 700;
		color: get-color(brand-colors, burgundy);
		border-bottom: 1px solid get-color(shades, 40);

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}

	&__current-option {
		border-bottom: 1px solid get-color(shades, 40);
	}

	&__input {
		flex: none;
		appearance: none;
		height: var(--trackSize);
		outline: none;
		transition: all 0.3s ease;
		border-radius: 6px;
		width: 100%;
		padding: 0;
		margin: 0;
		margin-bottom: 1.5em;
		background-image: linear-gradient(90deg,
				var(--progressBg) var(--webkitProgressPercent),
				var(--trackBg) var(--webkitProgressPercent));

		&::-webkit-slider-thumb,
		&::-moz-range-thumb {
			appearance: none;
			width: var(--thumbSize);
			height: var(--thumbSize);
			background: var(--thumbBg);
			border: 2px solid get-color(shades, 0);
			border-radius: 50%;
			cursor: pointer;
			box-shadow: $box-shadow;
			transition: all 0.5s ease-out;
		}

		&:hover::-webkit-slider-thumb,
		&:hover::-moz-range-thumb {
			width: var(--thumbSizeFocus);
			height: var(--thumbSizeFocus);
		}

		div#thumb {
			-webkit-appearance: none;
			background-color: var(--thumbBg);
		}

		&::-moz-range-progress,
		&::-ms-fill-lower {
			background-color: var(--progressBg);
		}
	}

	&__min-max {
		position: relative;
		bottom: 18px;
		flex: none;
		width: 100%;

		.range-input--start {
			color: get-color(shades, 80);
		}

		.range-input--end {
			color: get-color(shades, 80);
			position: absolute;
			right: 0;
		}
	}
}

// chrome fix - needs to be more specifis to be able to hit the thumb control
input[type='range'].range-input__input {
	&::-webkit-slider-thumb {
		width: var(--thumbSize);
		height: var(--thumbSize);
		-webkit-appearance: none;
		border-radius: 50%;
		cursor: pointer;
		border: 2px solid get-color(shades, 0);
		box-shadow: $box-shadow;
		background: var(--thumbBg);
		transition: all 0.5s ease-out;
	}

	&:hover::-webkit-slider-thumb {
		width: var(--thumbSizeFocus);
		height: var(--thumbSizeFocus);
	}
}

input[type='number'] {
	-moz-appearance: textfield;
}